
body {
 background-image: url("../images/background.png");

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: small;
}

.pos-abs-b-1 {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}
